@import url('../scss/_common.scss');
@import url('../scss/_reset.scss');

.app {
    height: 100vh;
    width: 100vw;
}

html, body {
    min-height: 100%;
    background-color: rgb(58, 58, 58);
    overflow-x: hidden;
}